*
{
    margin: 0;
    padding: 0;

    /* background: #FCFCFC; */
}

html
{
    background: #FCFCFC;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0px;
    /* gap: 20vw; */
    position: relative;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.header
{
    /* header */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 368px;

    width: 1440px;
    height: 144px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logocomplete
{
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;

    width: 575px;
    height: 104px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logoblob
{
    /* logotext */
    display: flex;
    flex-direction: column;
    /* align-items: left; */

    width: auto;
    height: auto;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.logoplace
{
    /* Angell-Logo Position */

    width: 98px;
    height: 90px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.logotexta
{
    position: flex;
    width: auto;
    height: auto;
    
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    /* line-height: 83px; */
    
    color: #040304;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.logotextb
{
    /* Tagline */
    position: flex;
    width: auto;
    height: auto;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    /* line-height: auto; */
    /* identical to box height */

    text-align: center;

    color: #040304;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.blob
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */

    /* padding: 23px; */
    gap: 2vh;

    width: 65vw;
    height: 80vh;
}


.h2
{
    width: 50vw;
    height: auto;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 3.23rem;
    
    color: #040304;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.p
{
    width: 55vw;
    height: auto;
    
    font-family: 'DM Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.65rem;
    
    color: #040304;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    
}


.section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: left;
    color: #040304;
    gap: 9vw;

    /* width: 75vw; */
    height: 100vh;

    /* font-size: 3vmin; */
}

.sectionb
{

    display: flex;
    flex-direction: row-reverse;
    /* justify-content: right; */
    align-items: flex-end;
    /* position: right; */
    color: #040304;
    gap: 90vw;

    /* width: 75vw; */
    height: 100vh;

    /* font-size: 3vmin; */

}

/* section:nth-child(odd)
{
    justify-content: flex-end;
} */